@font-face {
  font-family: Faberge;
  src: url(/src/styles/fonts/faberge.otf);
}

@font-face {
  font-family: Xarrovv;
  src: url(/src/styles/fonts/Xarrovv.otf);
}

@font-face {
  font-family: 'fontello';
  src: url('/src/styles/fontello-e9f3f4db/font/fontello.eot?65305633');
  src: url('/src/styles/fontello-e9f3f4db/font/fontello.eot?65305633#iefix') format('embedded-opentype'),
        url('/src/styles/fontello-e9f3f4db/font/fontello.woff?65305633') format('woff'),
        url('/src/styles/fontello-e9f3f4db/font/fontello.ttf?65305633') format('truetype'),
        url('/src/styles/fontello-e9f3f4db/font/fontello.svg?65305633#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: Faberge, Geneva, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  display: block;
}
