@font-face {
  font-family: Faberge;
  src: url(/src/styles/fonts/faberge.otf);
}

@font-face {
  font-family: Xarrovv;
  src: url(/src/styles/fonts/Xarrovv.otf);
}

@font-face {
  font-family: 'fontello';
  src: url('/src/styles/fontello-b34f429a/font/fontello.eot?51871851');
  src: url('/src/styles/fontello-b34f429a/font/fontello.eot?51871851#iefix') format('embedded-opentype'),
       url('/src/styles/fontello-b34f429a/font/fontello.woff2?51871851') format('woff2'),
       url('/src/styles/fontello-b34f429a/font/fontello.woff?51871851') format('woff'),
       url('/src/styles/fontello-b34f429a/font/fontello.ttf?51871851') format('truetype'),
       url('/src/styles/fontello-b34f429a/font/fontello.svg?51871851#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: Faberge, Geneva, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  display: block;
}
