@font-face {
  font-family: Faberge;
  src: url(/src/styles/fonts/faberge.otf);
}

@font-face {
  font-family: Xarrovv;
  src: url(/src/styles/fonts/Xarrovv.otf);
}

@font-face {
  font-family: 'fontello';
  src: url('/src/styles/fontello-71afdb0e/font/fontello.eot?65559895');
  src: url('/src/styles/fontello-71afdb0e/font/fontello.eot?65559895#iefix') format('embedded-opentype'),
       url('/src/styles/fontello-71afdb0e/font/fontello.woff2?65559895') format('woff2'),
       url('/src/styles/fontello-71afdb0e/font/fontello.woff?65559895') format('woff'),
       url('/src/styles/fontello-71afdb0e/font/fontello.ttf?65559895') format('truetype'),
       url('/src/styles/fontello-71afdb0e/font/fontello.svg?65559895#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: Faberge, Geneva, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  display: block;
}
