@font-face {
  font-family: Faberge;
  src: url(/src/styles/fonts/faberge.otf);
}

@font-face {
  font-family: Xarrovv;
  src: url(/src/styles/fonts/Xarrovv.otf);
}

html, body {
  font-family: Faberge, Geneva, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  display: block;
}
