
.icon-star-empty:before { content: '\e03f'; } /* '' */
.icon-target:before { content: '\e800'; } /* '' */
.icon-feather:before { content: '\e801'; } /* '' */
.icon-star:before { content: '\e802'; } /* '' */
.icon-star-empty-2:before { content: '\e803'; } /* '' */
.icon-list:before { content: '\e804'; } /* '' */
.icon-fire-station:before { content: '\e817'; } /* '' */
.icon-crown:before { content: '\e844'; } /* '' */
.icon-record:before { content: '\e87e'; } /* '' */
.icon-record-outline:before { content: '\e87f'; } /* '' */
.icon-record-1:before { content: '\e880'; } /* '' */
.icon-certificate-outline:before { content: '\e881'; } /* '' */
.icon-certificate-1:before { content: '\e882'; } /* '' */
.icon-snow:before { content: '\e883'; } /* '' */
.icon-award-1:before { content: '\e884'; } /* '' */
.icon-award-empty:before { content: '\e885'; } /* '' */
.icon-sun-inv:before { content: '\e886'; } /* '' */
.icon-snowflake:before { content: '\e887'; } /* '' */
.icon-star-empty-1:before { content: '\e888'; } /* '' */
.icon-king:before { content: '\e889'; } /* '' */
.icon-icq:before { content: '\e88a'; } /* '' */
.icon-fire-1:before { content: '\e88b'; } /* '' */
.icon-heart-empty:before { content: '\e88c'; } /* '' */
.icon-heart:before { content: '\e88d'; } /* '' */
.icon-star-half:before { content: '\f022'; } /* '' */
.icon-star-half_empty:before { content: '\f024'; } /* '' */
.icon-trophy:before { content: '\f074'; } /* '' */
.icon-tree:before { content: '\f1bb'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-snowflake-o:before { content: '\f2dc'; } /* '' */
.icon-flickr:before { content: '\f303'; } /* '' */
.icon-fire:before { content: '\f525'; } /* '' */
