/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?51871851#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-star-empty:before { content: '\e03f'; } /* '' */
.icon-target:before { content: '\e800'; } /* '' */
.icon-feather:before { content: '\e801'; } /* '' */
.icon-star:before { content: '\e802'; } /* '' */
.icon-star-empty-2:before { content: '\e803'; } /* '' */
.icon-list:before { content: '\e804'; } /* '' */
.icon-fire-station:before { content: '\e817'; } /* '' */
.icon-crown:before { content: '\e844'; } /* '' */
.icon-record:before { content: '\e87e'; } /* '' */
.icon-record-outline:before { content: '\e87f'; } /* '' */
.icon-record-1:before { content: '\e880'; } /* '' */
.icon-certificate-outline:before { content: '\e881'; } /* '' */
.icon-certificate-1:before { content: '\e882'; } /* '' */
.icon-snow:before { content: '\e883'; } /* '' */
.icon-award-1:before { content: '\e884'; } /* '' */
.icon-award-empty:before { content: '\e885'; } /* '' */
.icon-sun-inv:before { content: '\e886'; } /* '' */
.icon-snowflake:before { content: '\e887'; } /* '' */
.icon-star-empty-1:before { content: '\e888'; } /* '' */
.icon-king:before { content: '\e889'; } /* '' */
.icon-icq:before { content: '\e88a'; } /* '' */
.icon-fire-1:before { content: '\e88b'; } /* '' */
.icon-heart-empty:before { content: '\e88c'; } /* '' */
.icon-heart:before { content: '\e88d'; } /* '' */
.icon-star-half:before { content: '\f022'; } /* '' */
.icon-star-half_empty:before { content: '\f024'; } /* '' */
.icon-trophy:before { content: '\f074'; } /* '' */
.icon-tree:before { content: '\f1bb'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-snowflake-o:before { content: '\f2dc'; } /* '' */
.icon-flickr:before { content: '\f303'; } /* '' */
.icon-fire:before { content: '\f525'; } /* '' */
